.myBtnPrimary{
    background: #B34EB6;
    color:#fff;
}
.myBtn:hover{
    color:#000;
}
.detail{
    width: 50px;
    border-radius: 10px;
}
.rightSide{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top:0;
    right:0;
    width: 100vw;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding:10px;
    height: 100vh;
    background-color: rgba(35, 35, 35,0.9);
}
.dialog{
    width: 250px;
    z-index: 2;
}