
body, html, *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

a{
    text-decoration: none;
    color:#000;
}
li{
    list-style-type: none;
}
img{
    max-width: 100%;
}

.btn{
    padding:7px 10px;
    border:none;
    outline: none;
    border:1px solid #c7bbbb;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
}

.mybg-primary{
    background:linear-gradient(to top, rgb(20, 20, 20)10%,#222121 35%, rgb(136, 3, 136));
}

.myBtnPrimary{
    background: #B34EB6;
    color:#fff;
}
.myBtn:hover{
    color:#000;
}
.detail{
    width: 50px;
    border-radius: 10px;
}

#right-side-login{
    background:linear-gradient(to bottom right, rgb(147, 14, 147) 10%, rgb(195, 49, 195) 30%, rgb(196, 57, 196) 90%);
    color:#fff;
}
#right-side-login:hover{
    background:linear-gradient(to bottom left, rgb(147, 14, 147) 10%, rgb(195, 49, 195) 30%, rgb(100, 37, 100) 90%);
}


@keyframes is-quicking {
    0%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(10px);
    }
}
#logo-animada{
    max-width: 100%;
    width:150px;
    height: 130px;
    animation: is-quicking 1s infinite ease-in-out;
}
#form-login{
    display: grid;
    grid-template-columns: auto 1fr;
}
@media (max-width:980px) {
    #form-login h2{
        font-size: 24px !important;
    }    
    #form-login #logo-animada{
        width:100px;
        height: 100px;
    }
}

@media (max-width:680px) {
    #right-side-login div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
    }
}

@media (max-width:520px) {
    #form-login{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    #form-login form{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    #right-side-login{
        display: none !important;
    }
}