.batContainer{
    display: flex;
    justify-content: flex-start;   
    overflow: auto;
    flex-wrap: wrap;
}
.yellowText{
    color:yellow;
}
.titleNews{
    color:purple;
    border-bottom: 3px solid #000;
    width:100px;
}
@keyframes appear {
    from{
        transform: translateX(100px);
    }   
    to{
        transform: translateX(-0px);
    } 
}
.rightSide{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top:0;
    right:0;
    width: 300px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding:10px;
    height: 100vh;
    background-color: rgba(35, 35, 35,0.9);
    transition: all 0.5s;
    animation:appear 0.5s ease-in-out forwards;
}

.dialog{
    width: 100%;
    z-index: 2;
}
